* {
  box-sizing: border-box;
  margin: 0;
}
¨ body,
html {
  height: 100%;
}

img,
video,
iframe {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 16 / 9;
}

header {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 1100px) minmax(1rem, 1fr);
  grid-template-rows: 1fr auto 1fr;
  color: white;
  font-family: "Bayon", sans-serif;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  background: url(images/splash.webp) no-repeat center top;
  background-size: cover;
  height: 700px;
}

.pic {
  grid-area: 1 / 1 / -1 / -1;
  z-index: -1;
  object-fit: cover;
  object-position: bottom;
}

header h1 {
  grid-row: 2;
}

h1 {
  --min-fs: 3;
  --max-fs: 8;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: clamp(1px, 20px, 2px);
  text-transform: uppercase;
  letter-spacing: clamp(0px, 2vw, 1.5rem);
  line-height: 1;
  font-size: 60px;
}

h2 {
  font-size: 35px;
  font-family: "Bayon", sans-serif;
}
header h2 {
  grid-row: 1;
  align-self: self-end;
  letter-spacing: 2px;
  font-weight: 600;
}

header > * {
  grid-column: 2 / -2;
}

section {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  column-gap: 1rem;
}

article {
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 10%;
  gap: 5%;
  padding-bottom: 7%;
}

p + figure {
  margin-top: 1rem;
}

.test {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 5%;
}

.test img {
  height: 100%;
  object-fit: cover;
}
section > * {
  grid-column: 2;
}

p {
  font-family: "Roboto", sans-serif;
}

.test2 {
  order: -1;
}

.flex {
  display: flex;
  flex-flow: wrap-reverse;
}

.color {
  background-color: rgb(121, 65, 55);
}

.container {
  display: flex;
}

.first {
  padding: 2%;
  border-radius: 40px;
}
.second {
  padding: 2%;
  border-radius: 40px;
}
